#include "resource.h"

IDR_MAINFRAME MENU 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N",                ID_FILE_NEW
        MENUITEM "&Open\tCtrl+O",               ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S",               ID_FILE_SAVE
        MENUITEM "Save &As...\tCtrl+Shift+S",   ID_FILE_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tCtrl+Q",               ID_FILE_EXIT
    END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Color\tCtrl+C",				ID_EDIT_COLOR
	END
END
